<aside class="sidenav-main nav-collapsible sidenav-light sidenav-active-square nav-collapsed">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
        <a class="brand-logo darken-1" href="/">
            <img src="~/images/tac-logo-min.png" alt="TAC HA"/>
            <span class="logo-text hide-on-med-and-down">TAC Health</span>
        </a>
    </h1>
  </div>

  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan" href="#"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="">Dashboard</span><span class="badge badge pill orange float-right mr-10">2</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Standard</span></a>
          </li>
          <li><a class="collapsible-body" href="/?d=analytics" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Analytics</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Applications</a><i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/contacts"><i class="material-icons">contact_phone</i><span class="menu-title" data-i18n="">Contacts</span><span class="badge new badge pill pink accent-2 float-right mr-10">5</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/messages"><i class="material-icons">mail_outline</i><span class="menu-title" data-i18n="">Messages</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/todo-list"><i class="material-icons">check</i><span class="menu-title" data-i18n="">ToDo List</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/calendar"><i class="material-icons">today</i><span class="menu-title" data-i18n="">Calendar</span></a>
    </li>
    <li class="navigation-header"><a class="navigation-header-text">Pages </a><i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/facilities"><i class="material-icons">local_hospital</i><span class="menu-title" data-i18n="">Facilities</span></a>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i class="material-icons">directions_run</i><span class="menu-title" data-i18n="">Referees</span></a>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan "><i class="material-icons">face</i><span class="menu-title" data-i18n="">Users</span><span class="badge badge pill purple float-right mr-10">10</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a class="collapsible-body" href="/users" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>View Users</span></a>
          </li>
          <li><a class="collapsible-body" href="/users/reset-password" data-i18n=""><i class="material-icons">radio_button_unchecked</i><span>Reset Password</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Misc </a><i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/documentation/view?v=all"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="">Documentation</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/documentation/changelog"><i class="material-icons">track_changes</i><span class="menu-title" data-i18n="">Changelog</span><span class="badge badge pill light-blue float-right mr-10">5.1</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="/documentation/support"><i class="material-icons">help_outline</i><span class="menu-title" data-i18n="">Support</span></a>
    </li>
  </ul>
  <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>