@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Calendar";
    string name = HttpContextAccessor.HttpContext.User.Identity.Name;
}

<link rel="stylesheet" type="text/css" href="~/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="~/css/pages/app-calendar.css">

<div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0">Calendar</h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Calendar
                    </li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                <ul class="dropdown-content" id="dropdown1" tabindex="0">
                    <li tabindex="0"><a class="grey-text text-darken-2" href="user-profile-page.html">Default View</a></li>
                    <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Weekly View</a></li>
                    <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">Daily View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col s12">
    <div class="container">
        <!-- Full Calendar -->
        <div id="app-calendar">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col m3">
                                    <div id='external-events'>
                                        <h5>Draggable Events</h5>
                                        <div class="fc-events-container">
                                            <div class='fc-event' data-color='#009688'>All Day Event</div>
                                            <div class='fc-event' data-color='#4CAF50'>Long Event</div>
                                            <div class='fc-event' data-color='#00bcd4'>Meeting</div>
                                            <div class='fc-event' data-color='#ff5722'>Contact Tracing</div>
                                            <div class='fc-event' data-color='#9c27b0'>Lunch</div>
                                            <div class='fc-event' data-color='#e51c23'>Conference</div>
                                            <div class='fc-event' data-color='#e91e63'>Field Hork</div>
                                            <div class='fc-event' data-color='#4a148c'>Reviews</div>
                                            <p>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>Remove After Drop</span>
                                                </label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m9">
                                    <div id='fc-external-drag'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendors/fullcalendar/lib/jquery-ui.min.js"></script>
<script src="~/vendors/fullcalendar/lib/moment.min.js"></script>
<script src="~/vendors/fullcalendar/js/fullcalendar.min.js"></script>

<script src="~/js/scripts/app-calendar.js" type="text/javascript"></script>
